/* === GENERAL === */
/*.container-fluid {*/
/*  margin:0;*/
/*  padding:0;*/
/*}*/
body {
  font-size:         1.25rem;
}

/*.navbar-nav.navbar-center {*/
/*    position:        absolute;*/
/*    left:            50%;*/
/*    transform:       translatex(-50%);*/
/*}*/

.cs_p-4-5 {
  padding:           2rem;
}

/*div p {*/
/*  font-size: 1rem;*/
/*}*/

/* use bootstrap classes for that */
.row {
  margin:            0;
  padding:           1rem;
}

.cs_title {
  padding-top:       5rem;
  padding-bottom:    0px;
}

.cs_main_box {
  border:            2px solid;
  border-radius:     0.25rem;
  
  word-wrap:         break-word;
  background-color:  #282828;
  background-clip:   border-box;
}

.portrait {
    /*max-width: 50px;*/
    /*width:100%;*/
    /*height: auto;*/
    max-height:      10rem;
    max-width:       10rem;
    width:            7rem;
    height:           7rem;
}

.cs_float-center {
   margin-left:       auto;
   margin-right:      auto;
}

footer {
  margin-top:         7rem;
  margin-bottom:      1rem;
}