<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css"></link> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"></link> 
    
    <title>TCD - Baseflow</title>
    <link rel="shortcut icon" href="static/images/favicon.ico">

</head>
<body>
    
    <div class="container">
    <header>
        
        <div class="row">
            <h1>TRINITY COLLEGE DUBLIN</h1>
            <h2>BASEFLOW DETERMINATION</h2>
            <h3>Upload input</h3>
        </div>
        
    </header>
    <section>
    
    
        <div class="row">
            <p>Work in process.</p>
            <p>The charts are interactive : you can zoom in (when it works...!) or click on them.</p>
            *** {{ data_source }} ***
        </div>
        
        <h1>Download your output file (.csv) :</h1>
        <p>The file will be directly downloaded in your "download" folder</p>
        <!--<a href="/DownloadOutputFile">Download</a>-->
        <form action="/DownloadOutputFile">
            <input type="hidden" name="data_source" value="{{ data_source }}"/>
            <input type="submit" onClick="downloadFeedback()" value="Download"/>
        </form>
        
        <h1>Archive your data online :</h1>
        <p>The file will be archived on an online Mongo Database</p>
        <form action="/archiveDataOnMongoDatabase">
            <input type="hidden" name="data_source" value="{{ data_source }}"/>
            <input type="submit" onClick="archiveFeedback()" value="Archive"/>
        </form>
        
        <h1>Delete files :</h1>
        <p>The files will be deleted from the server</p>
        <form action="/deleteFiles">
            <input type="hidden" name="data_source" value="{{ data_source }}"/>
            <input type="submit"  value="Delete"/>
        </form>
        
        
        <h1>Reset all filters : </h1>
        <button id="resetAll"  onclick="resetAll()" >Reset All</button>
        <button id="dateRange" onclick="dateRange()">dateRange</button>
        <!--<button id="resetAll" onclick="makeGraph()">Reset All</button>-->
        
        <div class="row">
            <p><strong>Chart_III_A1 - [Data distribution within seasons]</strong></p>
            <div id="chart_III_A1"></div>
        </div>
        
        <div class="test">
            <p>Testing stuff</p>
        </div>
        
        <div class="row test">
            <p><strong>Chart_I_A1 - [Baseflow & Rain]</strong></p>
            <div id="chart_I_A"></div>
        </div>
        
        <div class="row">
            <p><strong>Chart_I_B1 - [Rain & ETP]</strong></p>
            <div id="chart_I_B1"></div>
        </div>
        
        <div class="row">
            <p><strong>Chart_II_A1 - [Flow distribution]</strong></p>
            <div id="chart_II_A1"></div>
            <div id="chart_II_A2"></div>
            <div id="chart_II_A3"></div>
            <div id="chart_II_A4"></div>
        </div>
        
        <div class="row">
            <p><strong>Chart_II_B1 - [Cumulative rain]</strong></p>
            <div id="chart_II_B1"></div>
        </div>
        
        
    </section>
    <footer>
        
    </footer>
    </div> <!--END OF CONTAINER -->
    
     <!-- SCRIPTS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/ux.js') }}"></script>
    
    
    <!-- CHARTS SCRIPTS -->
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <!-- Cross Filter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <!-- DC -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
    <!-- Queue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.js"></script>
    <!-- Charts -->
    <script type="text/javascript"> var data_source = "{{ data_source }}"</script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    
</body>
</html>