{% extends "base.html" %}

{% block title %}TCD - Baseflow - Homepage{% endblock %}

{% block head %}

  {{ super() }}

{% endblock %}


{% block content %}
            <!-- box -->
            <div class="row  cs_title">
                <h3>Introduction</h3><br>
            </div>
            
            <div class="row  border-primary cs_main_box">
            
                <div class="col-sm-12">
                    
                    <p><strong>What is this website for?</strong></p>
                    <br>
                    <p>The purpose of this website is to give you - water industry professionals, researchers and students, a quick and efficient tool to determine the baseflow of a karst system.</p>
                    <br>
                    
                    <p><strong>How do you use it?</strong></p>
                    <br>
                    <ol>
                        <li>Upload your input data (.csv file)</li>
                        <li>Click on "process data"</li>
                        <li>You are done!</li>
                    </ol>
                    <br>
                    
                    <p><strong>What are the output?</strong></p>
                    <br>
                    <ol>
                        <li>Multiple charts</li>
                        <li>Downloadable output file</li>
                    </ol>
                    <br>
                    
                </div>
            
                <div class="cs_float-center">
                    <a href="/upload"><button type="button" class="btn btn-outline-success btn-lg text-uppercase">GET STARTED</button></a>
                </div>
            
            </div>
            
            <!-- box -->
            <div class="row  cs_title">
                <h3>Team</h3><br>
            </div>
            
            <div class="row  border-primary cs_main_box">
                <div class="col-sm-12">
                    <p>This website is brought to you by Trinity College Dublin!
                        <p></p><br>
                </div>
            
                <div class="row ">
                    <div class="col-sm-6">
                        <a href="https://www.tcd.ie/civileng/people/research-staff/lea-duran.php">
                            <img class="rounded-circle portrait" alt="Lea DURAN" src="{{ url_for('static', filename='images/lea-duran.jpg') }}">
                        </a>
                        <!--<span>Font awesome email : duranl@tcd.ie</span>-->
                    </div>
                    <div class="col-sm-6">
                        <a href="https://www.tcd.ie/civileng/people/doctoral-students/philip-schuler.php">
                            <img class="rounded-circle portrait" alt="Philip SCHULER" src="{{ url_for('static', filename='images/philip-schuler.jpg') }}">
                        </a>
                        <!--<span>Font awesome email : philips@tcd.ie</span>-->
                    </div>
                </div>
            </div>
       
{% endblock %}

{% block footer %}

    {{ super() }}

{% endblock %}

{% block scripts %}
            
    {{ super() }}

{% endblock %}