<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css"></link> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"  integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"></link> 
    
    <title>TCD - Baseflow</title>
    <link rel="shortcut icon" href="static/images/favicon.ico">

</head>
<body>
    
    <div class="container">
    <header>
        
        <div class="row">
            <h1>TRINITY COLLEGE DUBLIN</h1>
            <h2>BASEFLOW DETERMINATION</h2>
            <h3>Introduction</h3>
        </div>
        
    </header>
    <section>
    
        <h1>Upload your input file :</h1>
        <form method=post enctype=multipart/form-data action='/'>
            <input type=file name=file required>
            <input type=text name=output_filename placeholder='Output filename' required><br>
            <input type=submit value=Send!>
        </form>
        
    </section>
    <footer>
        
    </footer>
    </div> <!--END OF CONTAINER -->
    
     <!-- SCRIPTS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</body>
</html>