{% extends "base.html" %}

{% block title %}TCD - Baseflow - Homepage{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

            <!-- box -->
            <div class="row cs_title">
                <h3>About</h3><br>
            </div>
            
            <div class="row border-primary cs_main_box">
            
                <div class="col-sm-12">
                    
                    <h5><strong>What is this website for?</strong></h5>
                    <p>The purpose of this website is to give you - water industry professionals, researchers,
                        students - a quick and efficient tool to determine the baseflow of a karst system.</p>
                    <p>Along with the calculation of the raw output data, dynamic charts are provided to enable
                        to visualise them. <br><a href="/charts-demo">Check out the demo page</a> to see what
                        you can get with your own data!</p>

                    <h5><strong> Why calculate baseflow?</strong></h5>
                    <p>Baseflow is a streamflow component which reacts slowly to rainfall and is usually
                        associated with water discharged from groundwater storage.</p>
                    <p>Knowledge about baseflow is useful in the assessment of water quality and
                        low-flow conditions. It can also be used to calibrate or validate hydrological models.</p>

                    <br>
                    
                </div>
            
                <div class="col-sm-6 text-center p-2">    
                      <a href="/charts-demo"><button type="button" class="btn btn-outline-danger btn-lg text-uppercase">SEE DEMO</button></a>
                </div>
            
                <div class="col-sm-6 text-center p-2">
                    <a href="/instructions"><button type="button" class="btn btn-outline-success btn-lg text-uppercase">GET STARTED</button></a>
                </div>
            
            </div>
       
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}