{% extends "base.html" %}

{% block title %}TCD - Baseflow - Homepage{% endblock %}

{% block head %}

  {{ super() }}

{% endblock %}


{% block content %}

            <!-- box -->
            <div class="row cs_title">
                <h3>Instructions</h3><br>
            </div>
            
            <div class="row border-primary cs_main_box">
                <div class="col-sm-12">
                    
                    <h5><strong>How to use this tool?</strong></h5>
                    
                    <p>Just follow these few steps:</p>
                    <ol>
                        <li>Make sure your data have the right format (instructions will be given)</li>
                        <li>Upload your input data</li>
                        <li>Click on "process data"</li>
                        <li>You are done! You will be landing on the final page.</li>
                    </ol>
                    
                    
                    <h5><strong>What are the output?</strong></h5>
                    
                    <p>The output are:</p>
                    <ol>
                        <li>Multiple dynamic charts</li>
                        <li>Downloadable output file</li>
                    </ol>
                    
                    
                    <p>The output charts present the total spring discharge as provided by the user and the calculated baseflow, along with statistics!</p>
                    <p>If you would like to see other outputs, do not hesitate to contact us!</p>
                
                </div>
                
                <div class="col-sm-12 text-center p-2">
                    <a href="/upload"><button type="button" class="btn btn-outline-success btn-lg text-uppercase">START NEW PROJECT</button></a>
                </div>
                
            </div>

{% endblock %}

{% block footer %}

    {{ super() }}

{% endblock %}

{% block scripts %}
            
    {{ super() }}

{% endblock %}