{% extends "base.html" %}

{% block title %}TCD - Baseflow - Homepage{% endblock %}

{% block head %}

  {{ super() }}

{% endblock %}


{% block content %}

            <!-- box -->
            <div class="row cs_title">
                <h3>Models</h3><br>
            </div>
            
            <div class="row border-primary cs_main_box">
                <div class="col-sm-12">
                    
                    <p><strong>What models are used ?</strong></p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam sunt tempora, et fugit delectus, odio at nihil cum molestiae expedita illo quibusdam, ex magni quas. Consequuntur atque nesciunt, eos obcaecati nobis debitis architecto, repellendus doloribus earum quia nulla omnis, consectetur facilis commodi quidem voluptatibus iusto doloremque, eaque rerum deleniti mollitia.</p>
                    <br>
                    
                    <p><strong>What are the hypothesis ?</strong></p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam sunt tempora, et fugit delectus, odio at nihil cum molestiae expedita illo quibusdam, ex magni quas. Consequuntur atque nesciunt, eos obcaecati nobis debitis architecto, repellendus doloribus earum quia nulla omnis, consectetur facilis commodi quidem voluptatibus iusto doloremque, eaque rerum deleniti mollitia.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci expedita, enim officiis ratione aperiam obcaecati quo consectetur a modi cum doloribus commodi ipsa. Veniam alias culpa eius, voluptatum incidunt fugit aut, ducimus earum quam optio, libero. Est eligendi itaque repellendus sapiente nesciunt, similique pariatur id quam vero laborum dicta!</p>
                
                </div>
                
            </div>

{% endblock %}

{% block footer %}

    {{ super() }}

{% endblock %}

{% block scripts %}
            
    {{ super() }}

{% endblock %}