{% extends "base.html" %}

{% block title %}TCD - Baseflow - Homepage{% endblock %}

{% block head %}

  {{ super() }}

{% endblock %}


{% block content %}

            <!-- box -->
            <div class="row cs_title">
                <h3>Models</h3><br>
            </div>
            
            <div class="row border-primary cs_main_box">
                <div class="col-sm-12">
                    
                    <h5><strong>What models are used ?</strong></h5>
                    <br>
                    <p>The model used to extract the baseflow in the Eckhardt filter.</p>
                    <p>[Section to come]</p>
                    <br>
                    
                    <h5><strong>What are the hypothesis ?</strong></h5>
                    <br>
                    <p>[Section to come]</p>
                
                </div>
                
            </div>

{% endblock %}

{% block footer %}

    {{ super() }}

{% endblock %}

{% block scripts %}
            
    {{ super() }}

{% endblock %}