{% extends "base.html" %}


{% block title %}TCD - Baseflow - Homepage{% endblock %}


{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}

            <!-- box -->
            <div class="row cs_title">
                <h3>Team</h3>
                <br>
            </div>
            
            <div class="row border-primary cs_main_box">
                
                <div class="col-sm-12">
                    <p>This website is brought to you by Trinity College Dublin!</p>
                    <br>
                </div>
            
                <div class="col-sm-6 text-center mb-4">
                    
                    <a href="https://www.tcd.ie/civileng/people/research-staff/lea-duran.php" target="_blank">
                        <img class="rounded-circle img-fluid" alt="XA" src="{% url_for('static', filename='images/lea-duran.jpg') %}">
                    </a>
                    <p><strong>Dr Lea Duran</strong></p>
                    <p>Postdoctoral Researcher</p>
                    <p>Dept. of Civil, Structural & Environmental Engineering</p>
                    <p><i class="fas fa-envelope"></i> duranl@tcd.ie</p>
                    <a href="https://www.linkedin.com/in/l%C3%A9a-duran-1b275930/" target="_blank"><i class="cs_fa-solo fab fa-linkedin"></i></a>
                    
                </div>
                
                <div class="col-sm-6 text-center mb-4">
                    
                    <a href="https://www.tcd.ie/civileng/people/doctoral-students/philip-schuler.php" target="_blank">
                        <img class="rounded-circle img-fluid" alt="Philip SCHULER" src="{{ url_for('static', filename='images/philip-schuler.jpg') }}">
                    </a>
                    <p><strong>Philip Schuler</strong></p>
                    <p>PhD Researcher</p>
                    <p>Dept. of Civil, Structural & Environmental Engineering</p>
                    <p><i class="fas fa-envelope"></i> schulerp@tcd.ie</p>
                    <a href="https://www.linkedin.com/in/philip-schuler-73a50056/" target="_blank"><i class="cs_fa-solo fab fa-linkedin"></i></a>
                    
                </div>
                
                <div class="col-sm-12 text-center mb-4">
                    
                    <a href="https://www.linkedin.com/in/web-dev-xavier-astor/" target="_blank">
                        <img class="rounded-circle img-fluid" alt="Xavier ASTOR" src="{{ url_for('static', filename='images/xa.jpg') }}">
                    </a>
                    <p><strong>Xavier Astor</strong></p>
                    <p>Web Developer</p>
                    <p>Freelance</p>
                    <p><i class="fas fa-envelope"></i> astor.xavier@gmail.com</p>
                    <a href="https://www.linkedin.com/in/web-dev-xavier-astor/" target="_blank"><i class="cs_fa-solo fab fa-linkedin"></i></a>
    
                </div>
                
            </div>

{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}