{% extends "base.html" %}

{% block title %}TCD - Baseflow - Upload{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}

            <!-- error messages (wrong file format, ...) -->
            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                        {% for message in messages %}
                                <div class="alert alert-dismissible alert-warning mt-3">
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                      <h4 class="alert-heading">Warning!</h4>
                                      <p class="mb-0">{{ message }}</p>
                                </div>
                        {% endfor %}
                  {% endif %}
            {% endwith %}
            
            <!-- box -->
            <div class="row no-gutters cs_title">
                <h3>New Project</h3><br>
            </div>
            
            <div class="row no-gutters border-primary cs_main_box">
                
                <div class="col-sm-12">
                    <p>To start a new project, please upload your input data.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex minus, incidunt rerum quae dolores dolorem quod rem, distinctio velit aperiam provident harum iure labore neque itaque aliquid quasi magni omnis blanditiis non inventore delectus. Nihil quidem reiciendis officiis sit, molestiae illo libero adipisci nobis odit alias tempore labore repellat soluta, doloribus iste at maiores et. Est sed, voluptatem mollitia.</p>
                    <br>
                    <p class="text-danger">ATTENTION : FOR THE DATA TO BE PROCESSED, THE FOLLOWING REQUIREMENTS MUST BE MET: </p>
                    <ul>
                        <li><strong>The file must be in CSV format</strong></li>
                        <li><strong>The input must - strictely - be in this order and with these - exact - names:</strong></li>
                        <!--To change into a table for clearer layout -->
                            <ul>
                                <li>row                                 </li>
                                <li>date  [YYYY-MM-DD] (separator : "-")</li>
                                <li>q  [M3/day]                         </li>
                                <li>rain  [mm/day]                      </li>
                                <li>temp  [°C]                          </li>
                                <li>ETP_dint  [--/day]                  </li>
                                <li>peff  [mm/day]                      </li>
                            </ul>
                    </ul>
                    <p><strong>The number of rows has been limited to XXXX. All rows after won't be processed.</strong></p>
                </div>
                
                <!-- button - trigger modal - file selection -->
                <div class="cs_float-center">
                     <button type="button" class="btn btn-lg btn-outline-success" data-toggle="modal" data-target="#ModalFileSelection">
                      SELECT INPUT FILE
                     </button>
                </div>
                 
            </div>
    
            <!-- Modal -->
            <div class="modal fade" id="ModalFileSelection" tabindex="-1" role="dialog" aria-labelledby="ModalFileSelection" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                            
                            <div class="modal-header">
                                <h5 class="modal-title text-uppercase" id="ModalFileSelection">INPUT FILE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                
                            <form method=post enctype=multipart/form-data action='/upload'>
                                <div class="modal-body">
                                    <label for="input_file">Select the input file:</label>
                                    <input id="input_file" class="form-control-file" accept=".csv" type=file name=file required>
                                    <small class="form-text text-muted">Make sure the file met the requirements aforementioned.</small>
                                    <br> 
                                    <label for="output_filename">Desired output filename:</label>
                                    <input id="output_filename" class="form-control" type=text name=output_filename required>
                                    <small class="form-text text-muted">CSV output format. No need to end the filename with ".csv".</small>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-lg btn-outline-success" type=submit value='PROCESS DATA'>
                                    <button type="button" class="btn btn-lg btn-outline-danger text-uppercase" data-dismiss="modal">CLOSE</button>
                                </div>
                            </form>
                
                    </div>
                </div>
            </div>
            
{% endblock %}

{% block footer %}

    {{ super() }}

{% endblock %}

{% block scripts %}
            
    {{ super() }}

{% endblock %}